*{
    background-color: aqua;

}
h1{
    border: solid 2px red;
    background-image: url(img/photo_1_2025-01-21_22-43-04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    text-transform: uppercase;
    text-transform: capitalize;
    letter-spacing: 5px;
    word-spacing: 10px;
    
   
}